body {
    padding: 3%
}
h2 {
    color:green;
    }
    h3 {
    color: green;
    }
  
  
  body {
    background-color: rgb(255, 200, 300); 
    }
    .nome-lucas {
      text-align: center; 
    }
    .foto-lucas {
      height: 300px;
      padding: 10px;
      background-color: rgba(136, 255, 0, 0.568);
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #descricao-foto {
      float: left; 
    }

    #paragrafo-lucas {
    background-color:greenyellow;


}